.beverage {
    border: 1px solid #eee;
    margin: 15px 0;
    padding: 15px;
}

.beverage-count {
    margin: 0 0 15px;
}

.field {
    display: block;
    margin-bottom: 10px;
}

.label-text {
    display: inline-block;
    width: 80px;
}

.checkbox-label {
    margin-bottom: 5px;
    display: inline-block;
}

.checkbox-field {
    margin: 5px 0;
    display: block;
}

.add-button {
    border: none;
    background: none;
    padding: 10px;
    color: rgba(0, 27, 255, 0.82);
    font-size: 14px;
    text-decoration: underline dashed;
    cursor: pointer;
}

.submit-button {
    font-size: 16px;
    padding: 7px 15px;
    border: 2px solid orange;
    border-radius: 5px;
}

.modal {
    background-color: #dcdcdc;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.modal_txt {
    background: white;
    padding: 30px;
    margin: 100px auto;
    max-width: 300px;
    position: relative;
}

.body_block {
    overflow: hidden;
    margin-right: 17px;
}
#close_modal {
    font-size: 40px;
    position: absolute;
    right: 5px;
    top: 0;
    transform: rotate(45deg);
    box-sizing: content-box;
}

#open_modal:hover {
    cursor: pointer;
}

.close {
    position: relative;
    left: 15px;
    color: black;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

td {
    border: 2px solid gray;
    padding: 5px;
}

.hidden {
    display: none;
}