* {
    margin: 0;
    padding: 0;
}

form {
    margin: 20px 20px 20px 20px;
}

.beverage {
    border: 1px solid #eee;
    margin: 15px 0;
    padding: 15px;
}

.beverage-count {
    margin: 0 0 15px;
}

.field {
    display: block;
    margin-bottom: 10px;
}

.label-text {
    display: inline-block;
    width: 80px;
}

.checkbox-label {
    margin-bottom: 5px;
    display: inline-block;
}

.checkbox-field {
    margin: 5px 0;
    display: block;
}

.add-button {
    border: none;
    background: none;
    padding: 10px;
    color: rgba(0, 27, 255, 0.82);
    font-size: 14px;
    text-decoration: underline dashed;
    cursor: pointer;
}

.submit-button {
    font-size: 16px;
    padding: 7px 15px;
    border: 2px solid orange;
    border-radius: 5px;
}

.close {
    text-align: right;
    color: red;
    display: inline-block;
    float: right;
    cursor: pointer;
    font-size: 30px;
    font-family: monospace;
}


#modal {
    position: fixed;
    border: 2px solid black;
    border-radius: 30px;
    width: 580px;
    left: 50%;
    margin-left: -290px;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px;
    background-color:white;
    border-radius: 20px;
}

#content {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#close {
    width: 50px;
    height: 50px;
    margin-left: 550px;
    cursor: pointer;
    font-size: 30px;
    font-family: monospace;
}
