.beverage {
    border: 1px solid #eee;
    margin: 15px 0;
    padding: 15px;
    position: relative;
}

.beverage-count {
    margin: 0 0 15px;
}

.field {
    display: block;
    margin-bottom: 10px;
}

.label-text {
    display: inline-block;
    width: 80px;
}

.checkbox-label {
    margin-bottom: 5px;
    display: inline-block;
}

.checkbox-field {
    margin: 5px 0;
    display: block;
}

.add-button {
    border: none;
    background: none;
    padding: 10px;
    color: rgba(0, 27, 255, 0.82);
    font-size: 14px;
    text-decoration: underline dashed;
    cursor: pointer;
}

.submit-button {
    font-size: 16px;
    padding: 7px 15px;
    border: 2px solid orange;
    border-radius: 5px;
}

.btn-close{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: white;
    padding: 15px;
}

.btn-close:hover{
    background-color: #eeeeee;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    width: 500px;
    overflow: hidden;
    padding: 25px;
}

.modal-title {
    font-size: x-large;
    font-weight: bold;
}

.modal-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.model-footer {
    display: flex;
}

.upper {
    text-align: right;
}

.close-x {
    background: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
}

.close-x:hover {
    background-color: #989898;
}

.hidden {
    display: none;
}
table {
    border-collapse: collapse;
}
table th,
table td {
    border: 2px solid rgba(36, 5, 44, 0.23);
    padding: 10px;
}

