.beverage {
    position: relative;
    border: 1px solid #eee;
    margin: 15px 0;
    padding: 15px;
}
table{
    margin: 5px 5px 15px 5px;
    width: 630px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
th,tr,td{
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.close{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
}
.close-lightbox{
    margin: 2px 2px auto auto;
    position: relative;
}
.beverage-count {
    margin: 0 0 15px;
}

.field {
    display: block;
    margin-bottom: 10px;
}

.label-text {
    display: inline-block;
    width: 80px;
}

.checkbox-label {
    margin-bottom: 5px;
    display: inline-block;
}

.checkbox-field {
    margin: 5px 0;
    display: block;
}

.add-button {
    border: none;
    background: none;
    padding: 10px;
    color: rgba(0, 27, 255, 0.82);
    font-size: 14px;
    text-decoration: underline dashed;
    cursor: pointer;
}

.submit-button {
    font-size: 16px;
    padding: 7px 15px;
    border: 2px solid orange;
    border-radius: 5px;
}

.darkening{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.3);
    z-index: 3;
}
.lightbox{
    background-color: white;
    width: 640px;
    position: relative;
    z-index: 5;
}
.head-lightbox{
    display: flex;
    justify-content: space-between;
}
.ammountOfCoffee{
    margin: 2px auto auto 30px;
    text-align: center;
}
