.beverage {
    position: relative;
    border: 1px solid #eee;
    margin: 15px 0;
    padding: 15px;
}

.beverage-count {
    margin: 0 0 15px;
}

.field {
    display: block;
    margin-bottom: 10px;
}

.label-text {
    display: inline-block;
    width: 80px;
}

.checkbox-label {
    margin-bottom: 5px;
    display: inline-block;
}

.checkbox-field {
    margin: 5px 0;
    display: block;
}

.add-button {
    border: none;
    background: none;
    padding: 10px;
    color: rgba(0, 27, 255, 0.82);
    font-size: 14px;
    text-decoration: underline dashed;
    cursor: pointer;
}

.submit-button {
    font-size: 16px;
    padding: 7px 15px;
    border: 2px solid orange;
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
}
.close:before {
    content: '+';
    color: black;
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 50px;
    line-height: 1;
    top: -5px;
    left: 6px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.close:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: black;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
}
.close:hover:after {
    transform: scale(1);
}
.close:hover:before {
    transform: scale(0.8) rotate(45deg);
    color: #fff;
}
.hidden{
    backdrop-filter: blur(2px);
    background-color: rgba(0,0,0,.3);
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 5;
    top: 0;
    left: 0;
}
.lightbox {
    width: 500px;
    position: relative;
    background-color: #f2eded;
    z-index: 2;
}
.lightbox-head{
    display: flex;
    justify-content: space-between;
}
.countOfCoffee{
    margin: 10px auto auto 30px;
    text-align: center;
    font-size: medium;
}
.lightboxClose{
    top: 0px;
    right: 0px;
    position: relative;
}
table{
    text-align: center;
    width: 480px;
    margin: 10px;
    border-collapse: collapse;
    border: 1px solid black;
}
th{
    border-bottom: 1px solid grey;
}
td{
    border-top: 1px solid grey;
}
.textarea{
    display: flex;
    align-items:flex-start;
}
.comment-text{
    margin-left: 30px;
}
.lightbox-form{
    margin: 5px auto 10px 30px;
}