.beverage {
    border: 1px solid #eee;
    margin: 15px 0;
    padding: 15px;
}

.beverage-count {
    margin: 0 0 15px;
}

.field {
    display: block;
    margin-bottom: 10px;
}

.label-text {
    display: inline-block;
    width: 80px;
}

.checkbox-label {
    margin-bottom: 5px;
    display: inline-block;
}

.checkbox-field {
    margin: 5px 0;
    display: block;
}

.add-button {
    border: none;
    background: none;
    padding: 10px;
    color: rgba(0, 27, 255, 0.82);
    font-size: 14px;
    text-decoration: underline dashed;
    cursor: pointer;
}

.submit-button {
    font-size: 16px;
    padding: 7px 15px;
    border: 2px solid orange;
    border-radius: 5px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;
    display: flex;

    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.5);
}

.lightbox {
    width: 600px;
    background-color: white;
    padding: 10px;
}

.button-—Ålose {
    float: right;
}

.closeButton {
    margin: auto 580px;
    width: 20px;
    height: 20px;
}