.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.25);
    z-index: 100;
  }

.lightbox {
    position: fixed;
    width: 640px;
    height: fit-content;
    background-color: red;
}

.lightbox button {
    float: right;
}

.beverage {
    border: 1px solid #eee;
    margin: 15px 0;
    padding: 15px;
    position: relative;
}

.beverage-count {
    margin: 0 0 15px;
}

.field {
    display: block;
    margin-bottom: 10px;
}

.label-text {
    display: inline-block;
    width: 80px;
}

.checkbox-label {
    margin-bottom: 5px;
    display: inline-block;
}

.checkbox-field {
    margin: 5px 0;
    display: block;
}

.add-button {
    border: none;
    background: none;
    padding: 10px;
    color: rgba(0, 27, 255, 0.82);
    font-size: 14px;
    text-decoration: underline dashed;
    cursor: pointer;
}

.remove-beverage {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: 0;
    padding: 5px 15px;
}

.remove-beverage:hover {
    background-color: rgb(196, 196, 196);
}

.submit-button {
    font-size: 16px;
    padding: 7px 15px;
    border: 2px solid orange;
    border-radius: 5px;
}

