<header class="layout__header">
  <nav class="navigation">
    <ul>
      <li><a class="link" href="/menu">Меню</a></li>
      <li><a class="link" href="/cart">Корзина</a></li>
      <li><a class="link" href="/login">Личный кабинет</a></li>
    </ul>
  </nav>
  <label class="theme__switch">
    <input type="checkbox"/>
    <span class="theme__toggle"></span>
  </label>
</header>

